Repository PharmaTechVe/pharmatech-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx}": [
    "npm run lint",
    "npm run format"
  ],
  "**/*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Create custom errors
  src/errors.ts
Due: npm run lint, npm run format

Configure lint staged
  .lintstagedrc
Due: none

Update client with new errors, remove try catch from services and conver main class in singleton
  src/auth.ts
  src/client.ts
  src/index.ts
  src/product.ts
  src/user.ts
Due: npm run lint, npm run format

Create country service
  src/country.ts
Due: npm run lint, npm run format

Add states services
  src/country.ts
  src/index.ts
  src/state.ts
Due: npm run lint, npm run format

Create city services
  src/city.ts
  src/country.ts
  src/state.ts
  src/tests/api.test.ts
  src/user.ts
Due: npm run lint, npm run format

Create branch service
  src/branch.ts
  src/index.ts
Due: npm run lint, npm run format

Create category service
  src/branch.ts
  src/category.ts
  src/city.ts
  src/country.ts
  src/index.ts
  src/state.ts
Due: npm run lint, npm run format

Create presentation service
  src/index.ts
  src/presentation.ts
Due: npm run lint, npm run format

Create manufacturer service
  src/index.ts
  src/manufacturer.ts
Due: npm run lint, npm run format

Upgrade to version 0.3.0
  README.md
  package.json
  src/index.ts
  src/tests/api.test.ts
Due: npm run lint, npm run format, prettier --write

Upgrade to version 0.3.1
  package.json
  src/client.ts
  src/index.ts
  src/tests/api.test.ts
Due: npm run lint, npm run format, prettier --write

Add SDK Promo
  src/promo.ts
Due: npm run lint, npm run format

Create inventory service
  src/index.ts
  src/inventory.ts
Due: npm run lint, npm run format

fix
  src/index.ts
  src/promo.ts
Due: npm run lint, npm run format

Create generic product service
  src/generic-product.ts
Due: npm run lint, npm run format

Register new service in main class
  src/index.ts
Due: npm run lint, npm run format

Add missing jwt in user service
  src/user.ts
Due: npm run lint, npm run format

Add resend otp for email verification
  src/auth.ts
Due: npm run lint, npm run format

Add missin services and fix responses
  src/index.ts
  src/user.ts
Due: npm run lint, npm run format

Feat(API-30): Adding crud user addres sdk
  src/index.ts
  src/user-address.ts
Due: npm run lint, npm run format

Upgrade to version 0.3.2
  package.json
  src/index.ts
  src/tests/api.test.ts
Due: npm run lint, npm run format, prettier --write

Add missing jwt in user address service
  src/user-address.ts
Due: npm run lint, npm run format

Upgrade version 0.3.3
  package.json
  src/index.ts
  src/tests/api.test.ts
Due: npm run lint, npm run format, prettier --write

Add product presentation
  src/index.ts
  src/product-presentation.ts
Due: npm run lint, npm run format

Add category to generic product
  src/generic-product.ts
Due: npm run lint, npm run format

Release 0.3.4
  package.json
  src/index.ts
  src/product-image.ts
  src/tests/api.test.ts
Due: npm run lint, npm run format, prettier --write

Add query param to getProducts
  package.json
  src/index.ts
  src/product.ts
  src/tests/api.test.ts
Due: npm run lint, npm run format, prettier --write

Add create user by admin
  package.json
  src/index.ts
  src/tests/api.test.ts
  src/user.ts
Due: npm run lint, npm run format, prettier --write

Set client public
  package.json
  src/index.ts
  src/tests/api.test.ts
Due: npm run lint, npm run format, prettier --write

Fix birth date type
  src/user.ts
Due: npm run lint, npm run format

Upgrade version 0.3.8
  package.json
  src/index.ts
  src/tests/api.test.ts
Due: npm run lint, npm run format, prettier --write

Add role to update user
  src/user.ts
Due: npm run lint, npm run format

Upgrade to version 0.3.9
  package.json
  src/index.ts
  src/tests/api.test.ts
Due: npm run lint, npm run format, prettier --write

Create method to update current password
  src/auth.ts
Due: npm run lint, npm run format

Create types folder
  src/types/auth.ts
  src/types/branch.ts
  src/types/category.ts
  src/types/city.ts
  src/types/country.ts
  src/types/generic-product.ts
  src/types/index.ts
  src/types/inventory.ts
  src/types/manufacturer.ts
  src/types/presentation.ts
  src/types/product-image.ts
  src/types/product-presentation.ts
  src/types/product.ts
  src/types/promo.ts
  src/types/state.ts
  src/types/user-address.ts
  src/types/user.ts
  src/types/utils.ts
Due: npm run lint, npm run format

Create errors folder and left only one error type
  src/errors/api-error.ts
  src/errors/index.ts
Due: npm run lint, npm run format

Create services folder and move to it
  src/errors.ts
  src/product-presentation.ts
  src/product.ts
  src/services/auth.ts
  src/services/branch.ts
  src/services/category.ts
  src/services/city.ts
  src/services/country.ts
  src/services/generic-product.ts
  src/services/index.ts
  src/services/inventory.ts
  src/services/manufacturer.ts
  src/services/presentation.ts
  src/services/product-image.ts
  src/services/product-presentation.ts
  src/services/product.ts
  src/services/promo.ts
  src/services/state.ts
  src/services/user-address.ts
  src/services/user.ts
  src/tests/api.test.ts
  src/utils/models.ts
Due: npm run lint, npm run format

Fix error throws and jwt usage
  src/client.ts
Due: npm run lint, npm run format

Add method to handle jwt
  package.json
  src/client.ts
  src/index.ts
  src/services/auth.ts
Due: npm run lint, npm run format, prettier --write
