Repository PharmaTechVe/pharmatech-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx}": ["npm run format"],
  "**/*.{json,md,yml,yaml}": ["prettier --write"]
}

Upgrade version 0.4.15
  package.json
  src/index.ts
Due: npm run format, prettier --write

Add missing bulk update inventory method
  src/services/inventory.ts
  src/types/inventory.ts
Due: npm run format

Upgrade version 0.4.16
  package.json
  src/index.ts
Due: npm run format, prettier --write

Add promo to product type
  package-lock.json
  src/types/product.ts
Due: npm run format, prettier --write

Create active principle service
  src/index.ts
  src/services/active-principle.ts
  src/services/index.ts
  src/types/active-principle.ts
  src/types/index.ts
Due: npm run format

Create sales predictions service and fix unbinded method in active principle
  src/index.ts
  src/services/active-principle.ts
  src/services/index.ts
  src/services/sales.ts
  src/types/index.ts
  src/types/sales.ts
Due: npm run format

Upgrade version 0.4.17
  package.json
  src/index.ts
Due: npm run format, prettier --write

Add new bulk types
  src/types/coupon.ts
  src/types/order.ts
  src/types/product-presentation.ts
  src/types/promo.ts
  src/types/user.ts
Due: npm run format

Create bulk methods
  src/services/coupon.ts
  src/services/order.ts
  src/services/product-presentation.ts
  src/services/promo.ts
  src/services/user.ts
Due: npm run format

Set optional multiple properties of bulk update
  src/types/coupon.ts
  src/types/user.ts
Due: npm run format

Update to replace data property for plain properties instead
  src/types/coupon.ts
  src/types/user.ts
Due: npm run format

Upgrade version 0.4.18
  package.json
  src/index.ts
Due: npm run format, prettier --write

add paymentConfirmation to OrderDetailResponse
  src/types/order.ts
Due: npm run format

Add payment confirmation in order detail
  src/types/order.ts
Due: npm run format

Set optional
  src/types/order.ts
Due: npm run format

Add missing properties of user
  src/types/user.ts
Due: npm run format

Upgrade version 0.4.19
  package.json
  src/index.ts
Due: npm run format, prettier --write

Clear interceptor afet request call
  src/client.ts
Due: npm run format

Upgrade version
  package.json
  src/index.ts
Due: npm run format, prettier --write

Add new fields to order detail
  src/types/order.ts
Due: npm run format

Create lot service
  src/index.ts
  src/services/index.ts
  src/services/lot.ts
  src/types/index.ts
  src/types/lot.ts
Due: npm run format

Upgrade version 0.4.21
  package.json
Due: prettier --write

Add missing jwt in product image
  src/services/product-image.ts
Due: npm run format

Add missing jwt in product category
  src/services/product-category.ts
Due: npm run format

Add missing jwt in product presentation
  src/services/product-presentation.ts
Due: npm run format

Add new filter with promo
  src/index.ts
  src/services/product.ts
  src/types/product.ts
Due: npm run format

Upgrade version 0.4.22
  package.json
Due: prettier --write
